.box::before {
    content: '';
    display: inline-flex;
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: -1;
    background-color: #FFDE00;
    transition: all .3s;
    margin: o auto;
    left: 38%;
}

:hover:before{
    width: 200px;

}

.embed-container { 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%; 
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; 
    top: 0; left: 0; width: 100%; height: 100%;
}

.receitas_rapidas{
    margin-top: -2px;
    
    li {
        list-style-type: none;
        font-size: 20px;
        padding: 10px 0;
        cursor: pointer;
    }
}

.lista_receitas {

    ul {
        margin-left: 30px;
    }
}

.receitas_rapidas {
    margin: 0 auto;
    

    h2 {
        margin: 15% 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 35px;
        margin: 6% 0;
        cursor: pointer;
    }

    img {
        max-width: 25%;
    }
}

.doces_salgadas {
    display: flex;

    p {
        text-transform: uppercase;
        font-size: 23px;
        margin: 0 auto;
        margin-top: 45%;
        font-weight: 600;
        cursor: pointer;
        
    }

    div {
        width: 100%;
        text-align: center;
        display: flex;
    }
}

button {
    background-color: #FFDE00;
    border-color: transparent;
    /* border-radius: 4px; */
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 23px 34px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-top: 3px;
    font-size: 20px;
}

@media(min-width: 320px) and (max-width: 374px){
    .doces_salgadas{
        display: block;
        background: white;
        padding: 6px 0;
       
        div {
            display: block;
        }
    }
}

@media(max-width: 375px){
    .doces_salgadas{
        display: block;
        background: #F4F1F4;
        padding: 56px 0;
       
        p {
        background: #F4F1F4; 
        }

        div {
            display: block;
        }
    }
    .receitas_rapidas img {
        max-width: 340px;
        padding-left: 18px;
        display: none;
    }

    h3 {
        text-align: center;
        padding: 10px 0;
    }

    .container {
        padding: 0;
    }

    .p_receitas p {
        text-align: center;
        margin-top: 0;
    }

    .conteudo_subs{
        display: block;
        
        .border{
            height: 4px;
            width: 172px;
            background-color: #829dad;
            display: block;
        }

        ul {
            padding: 0;
        }

        .doces_salgadas div {
            max-width: 0;
        }
    }

    .doces_salgadas p {
        margin: 0;
        padding: 37px 0px;
    } 

    .background_receitas {
        box-shadow: none;
        background: white;
        display: block;
    }

    .lista_receitas ul {
        margin-left: 0;
        box-shadow: 24px 17px 48px #888;
        text-align: center;
        background: white;
    }

    .lista_receitas li:hover {
        font-size: 25px;
        font-weight: 800;
        background: #FFDE00;
        box-shadow: 10px 25px 45px -10px rgba(0, 0, 0, 0.35)
    }
    .visivel {
        background-color: white;
        padding: 20px 20px;

        h3 p {
            text-align: center;
        }

        ul {
            padding: 0;
        }
    }
}
    
@media(min-width: 376px) and (max-width: 414px){
    .receitas_rapidas img {
        display: none;
    }
    .background_receitas{
        background-color: white;
        box-shadow: none;
    }
    .doces_salgadas{
        display: block;
        background-color: #F4F1F4;
        padding: 56px 0;

        div {
            display: block;
        }
    }
    .doces_salgadas p {
        margin: 0;
        padding: 22px 0px;
        background-color: #F4F1F4;
    }

    .lista_receitas li:hover {
        font-size: 25px;
        font-weight: 800;
        background: #FFDE00;
}
    .lista_receitas ul {
    margin-left: 0;
    box-shadow: 24px 17px 48px #888;
    text-align: center;
    }

    .visivel {
        
        h3, p {
        text-align: center;
        }

        ul {
            padding-left: 0;
        }
    }
}

@media(min-width: 415px) and (max-width: 600px){
    .receitas_rapidas img {
        display: none;
    }
    .background_receitas{
        background-color: white;
        box-shadow: none;
    }
    .doces_salgadas{
        display: block;
        background-color: white;
        padding: 56px 0;

        div {
            display: block;
        }
    }
    .doces_salgadas p {
        margin: 0;
        padding: 22px 0px;
    }

    .lista_receitas li:hover {
        font-size: 25px;
        font-weight: 800;
        background: #FFDE00;
}
    .lista_receitas ul {
    margin-left: 0;
    box-shadow: 24px 17px 48px #888;
    text-align: center;
    }
}

@media(min-width: 601px) and (max-width: 768px){
    .doces_salgadas p {
        color: white;
    }
    
}

