.nav_bar {
    text-align: center;
    display: grid;
    margin-top: 320px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;     
        padding: 10px 0;
        font-size: 20px;
        font-weight: 200; 
    }
}

.nav_bar a:hover {
    font-size: 25px;
    font-weight: 800;
    background: opacity($color: #00000054);
}

@media(max-width: 375px){
    .nav_bar {
        margin-top: 100px;
    }
    a {
        padding-left: 20%;
        font-size: 90px;
    }
}

@media(min-width: 415px) and (max-width: 600px){
    .nav_bar a {
        font-size: 20px;
        padding-top: 2vw;
        text-align: center;
    }
}

@media(min-width: 601px) and (max-width: 768px){
    .nav_bar a {
        font-size: 20px;
        padding-top: 2vw;
        text-align: center;
    }
}