.nav_bar {
    text-align: center;
    display: grid;
    margin-top: 320px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;     
        padding: 10px 0;
        font-size: 20px   
    }

    // a:hover{
    //     width: 100px;
    //     height: 400px;
    //     background-color: #d4c6e6;
    //     font-weight: 600;
    // }
}


@media(max-width: 960px){
.nav_bar a {
    padding-left: 10%;
}
}
