.cabecalho {
    background-image: url("../../assets/fundo-cabecalho.jpg");
    background-size: cover;
    height: 920px;
    margin-top: -550px;
    box-shadow: 10px 15px 35px -5px rgba(0,0,0,.75);
    width: 100%;
}

@media (min-width: 375px){  
}

@media(min-width: 415px) and (max-width:600px){
    .cabecalho{
      width: 100%;  
    } 
}  

@media(min-width: 601px) and (max-width: 765px){
    .cabecalho{
        width: 100%;  
        // width: 200px;
      } 
}

