<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <title>TCC SIMPLES</title>
</head>
<body>
    <main class=" container transition">
        
        <nav class="nav_bar">
           
            <a href="#">Home</a>
            <a href="#">Saber mais</a>
            <a href="#">Receitas</a>
            <a href="#">Livros</a>
        </nav>

        <!-- CABECALHO -->

        <section class="cabecalho">
            <div class="cinza-background"></div>
            <p>Receitas</p>
         </section>

        <!-- SUBSTITUTOS -->

        <section class="substitutos">
            <h1 class="box">Substituições</h1>
            <img src="./assets/miguel-andrade-T5PqPgR0vVQ-unsplash.jpg" alt="foto de um ovo quebrado">
            <img src="./assets/eiliv-sonas-aceron-_8bnn1GqX70-unsplash2.jpg" alt="foto de alguem enchendo uma jarra com leite de vaca">

            
        </section>

        <!-- RECEITAS RAPIDAS -->

        <section class="receitas_rapidas"> 

            <h2>Receitas rápidas</h2>
            <div class="doces_salgadas">
                <img src="./assets/doces.jpg" alt="">
                <a href=""><p>Doces</p></a> 
            </div>
            
            <div class="doces_salgadas">
                <p>Salgadas</p>
                <img src="./assets/sara-dubler-TM6QU10LUD0-unsplash.jpg" alt="">
            </div>
        </section>
        
        <section class="receitas_escondidas">
            <div>
                <h3>Salgadas</h3>
                <ul>
                    <li>Receita 1</li>
                    <li>Receita 2</li>
                    <li>Receita 3</li>
                    <li>Receita 4</li>
                    <li>Receita 5</li>
                    <li>Receita 6</li>
                    <li>Receita 7</li>
                    <li>Receita 8</li>
                    <li>Receita 9</li>
                    <li>Receita 10</li>
                </ul>
            </div>
            <div>
                <h3>Doces</h3>
                <ul>
                    <li>Receita 1</li>
                    <li>Receita 2</li>
                    <li>Receita 3</li>
                    <li>Receita 4</li>
                    <li>Receita 5</li>
                    <li>Receita 6</li>
                    <li>Receita 7</li>
                    <li>Receita 8</li>
                    <li>Receita 9</li>
                    <li>Receita 10</li>
                </ul>
            </div>

        </section>

        <section>
            <div class="dicas">
                <h2>Dicas</h2>
                <p>Documentarios sobre o tema</p>
            </div>
    
            <div class="documentary zoom">
                <img src="./assets/food.png" alt="">
                <img src="./assets/Cowspircy.png" alt="">
                <img src="./assets/OKJAMovieCover.jpg" alt="">
                <img src="./assets/what_the_health_documentario_vegano.jpg" alt="">
            </div>
        </section> 

        <section></section>
    </main>
    <footer>
            <div class="background">
                <h3>Rafaela Barros - {reprograma}</h3>
            </div>
        </footer> 
</body>
</html>