<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900&display=swap" rel="stylesheet">
    <title>TCC SIMPLES</title>
</head>
<body>
    <main class="container">
        <!-- nav -->
        <nav class="nav_bar">
            <a href="#">Home</a>
            <a href="#">Saber mais</a>
            <a href="#">Receitas</a>
            <a href="#">Livros</a>
        </nav>

        <!-- cabecalho -->

        <section class="cabecalho">
         </section>

        <!-- substitutos -->

        <section class="substitutos">
            <h1>Substituições</h1>
            <img src="./assets/miguel-andrade-T5PqPgR0vVQ-unsplash.jpg" alt="foto de um ovo quebrado">
            <img src="./assets/eiliv-sonas-aceron-_8bnn1GqX70-unsplash2.jpg" alt="" srcset="">
        </section>

        <!-- receitas rapidas -->

        <section class="receitas_rapidas">
            <h2>Receitas rápidas</h2>
            <div class="doces_salgadas">
                <img src="./assets/doces.jpg" alt="">
                <p>Doces</p>
            
            </div>
            
            <div class="doces_salgadas">
                <p>Salgadas</p>
                <img src="./assets/doces.jpg" alt="">
            </div>
        </section>

        <section>
            <div class="dicas">
                <h2>Dicas</h2>
                <p>Documentarios sobre o tema</p>
            </div>
    
            <div class="documentary">
                <img src="./assets/food.png" alt="">
                <img src="./assets/Cowspircy.png" alt="">
                <img src="./assets/OKJAMovieCover.jpg" alt="">
                <img src="./assets/what_the_health_documentario_vegano.jpg" alt="">
            </div>
        </section>

        <section></section>
    </main>
    <footer>
            <div class="background">
                <h3>Rafaela Barros - {reprograma}</h3>
            </div>
        </footer>
</body>
</html>