button {
    border: none;
}

.substitutos{
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 35px;
        margin: 12% 0;
        cursor: pointer;
    
    }

    img {
        height: 480px;
    }
}

.substituicoes_ovo_leite{
    width: 962px;
    margin: 0 auto;
}

.substitutos_leite_ovo{
    padding: 60px 0;
    margin-top: -2px;
    
    li {
        list-style-type: none;
    }
}


.conteudo_subs{
    display: flex;
    margin-left: 10%;

    ul {
        margin: 0 10%;
    }

    h4 {
        font-size: 27px;
        text-transform: uppercase;
        margin-top: 27%;
        width: 400px;
    }

    li {
        font-size: 20px;
        margin: 2% 0px;
        margin-left: 10%;
    }
}

.border {
    width: 10px;
    height: 259px;
    background-color: #829dad;
    display: block;
}

.margin_top {
    margin-top: 5%;
    margin-left: 2%;
}

.escondido{
    display: none;
}

.thumbnail-wrapper {
    display:inline-block;
    position:relative;
}
.thumbnail-wrapper button {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);
    font-size: 100px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

@media(min-width: 320px) and (max-width: 374px){
    .substitutos img {
        max-width: 320px;
        max-height: 320px;
    }
}
@media(max-width: 375px){

    .conteudo_subs {
        margin-left: 0;

        li {
            padding: 7px 0;
        }
    }
    .thumbnail-wrapper{
        display: block;
    }

    .substitutos{
        h1 {
            text-align: left;
            padding-left: 50px;
        }

        h4 {
            margin-top: 0;
        }

        img{
            max-width: 375px;
            max-height: 375px;
        }
    }
   
    button {
        text-align: center;
    }

    .substitutos_leite_ovo{
        h4 {
            font-size: 20px;
            text-align: center;
            width: 332px;
        }
    }
}

@media(min-width: 376px) and (max-width: 414px){
    .conteudo_subs{
        display: block;
        margin-left: 0;

        li {
            margin-left: 0;
        }
    }
   
    .substituicoes_ovo_leite{
        width: 100%;
    }
    .substitutos img {
       max-height: 375px;
       max-width: 375px;
    }
    .substitutos h1 {
        text-align: center; 
        margin: 85px 0;
    }

    .thumbnail-wrapper {
        display: block;
        text-align: center;
    }

    .border {
        height: 0;
    }
}

@media(min-width: 415px) and (max-width: 600px){
    .substitutos img {
        max-height: 500px;
        max-width: 100%;
        
     }

     .substituicoes_ovo_leite{
        width: 100%;
    }

    .conteudo_subs {
        display: block;

        li {
            margin: 0;
            padding: 10px 0;

        }
        h4 {
            padding: 0;
            width: 300px;
            margin: 0 auto;
            padding-bottom: 10px;
        }
        .border{
            padding: 0;
            height: 0px;
            width: 0px;
        }
    }
    .thumbnail-wrapper {
        display: block;
        text-align: center;
    }
}

@media(min-width: 601px) and (max-width: 768px){
    .substituicoes_ovo_leite {
        width: 100%;
        margin: 0 auto;
    }

    .substitutos img {
        max-height: 378px;
    }

    .conteudo_subs h4 {
        width: 248px;
    }

    .lista_receitas ul {
        margin-top: 1px;
    }

    .thumbnail-wrapper {
        display: block;
        text-align: center;
    }
}