.box::before {
    content: '';
    display: inline-flex;
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: -1;
    background-color: #d4c6e6;
    transition: all .3s;
    margin: o auto;
    left: 40%;
}

:hover:before{
    width: 500px;

}

.substitutos{
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 35px;
        margin: 12% 0;
        cursor: pointer;
    
    }

    img {
        height: 573px;
    }
}