body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 100%;
  line-height: 1;
}

.transition {
  transition: all 3s;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media(max-width: 960px){
  .container {
      width: 960px;
  }
}




