body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 100%;
  line-height: 1;
  background: #F4F1F4;
}

.transition {
  transition: all 3s;
}

.container {
  width: 80%;
  margin: 0 auto;
}





